<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head.ejs') %> 
    <link rel="stylesheet" href="./buy_with_card.css">
</head>
<body>


    <div class="nav_logo">
        <div class="main_logo">
            <img src="./images/main_logo.svg" alt="">
        </div>
        <div class="main-cornerColor"></div>
        <div class="three_div">
        <img  src="./images/menu.png" width="30" height="30" />
        </div>
    </div>
    <h1 class="by_crypto">Buy crypto with Debit card/credit card</h1>
    <div class="head_buy_sell">
        <div class="bbuy">
            <a href="#">Buy</a>
            <div class="green_div"></div>
        </div>
        <div class="ssell">
            <a href="#">Sell</a>
        </div>
    </div>
    <div class="head_ATM">
        <div class="spned">
            <div class="relate_spend_1">
                <div class="absolut_spend">
                <div class="sspp"><p style="color: white ">Spend</p></div>
                </div>
            </div>
            <div id="relate_head" class="relate_head" style="display: none;">
                <div class="secon_head">
                    <div class="head_1_ATM"></div>
                </div>
            </div>
            <div class="related_spend">
                <div class="spend_25">
                    <div class="absolut_spend_25">
                        <div class="current_inputss" >
                            <input onclick="tourch()" style="color: white;" type="number" placeholder="25.00     -     25000.00">
                       </div>
                       <div class="relate_nigeria">
                        <div class="nigeria">
                            <h1 class="niger_ngn_1">NGN <a class="ngn_greater" href="">></a></h1>
                        </div>   
                    </div>
                       </div>
                    </div>
            </div>
            

        </div>  
        <div class="spend_2">
            <div class="absolut_spend">
                    </div>
                    <div class="relate-spending_1">
                        <div class="spend_26">
                            <div class="tweenty_00" style="color: white;">0.00</div>
                            <div class="nigeria">
                                <h1 class="niger_ngn">
                                    <div class="bbttcc">
                                        <img class="bittcoin" src="./images/bitcoin12.svg" alt="" width="10">
                                    </div> NGN <a class="ngn_greater_1" href="">></a>
                                </h1>
                            </div>   
                        </div>
                    </div> 
            </div>
            <div class="recievedd">
                <p style="color: white;">Receive</p>
            </div>
    </div>

    
    <pre class="buy_and_sell_cry">
    Buy & sell crypto on PurgilSwap: Where 
    you trade crypto in 3 steps<span class="is_a_safe">
    PurgilSwap is a safe and secure platform to <span style="color:  rgba(0, 148, 29, 1);">buy 
    and sell cryptocurrencies</span> quickly using our 
    streamlined buy/sell process. You’re just three 
    step awy from your first <span  style="color:  rgba(0, 148, 29, 1);">Bicoin</span>, <span style="color:  rgba(0, 148, 29, 1);">Ethereum</span>, and 
    other <span style="color:  rgba(0, 148, 29, 1);">cryptocurrencies</span>.
  </span></pre>
        <div class="header_contact">
            <div class="contact_ima">
                <img src="./images/contact.svg" alt="" width="35">
            </div>
            <div class="identities">
                <a href="#"><h1 class="verifies">Verify your Identy</h1></a>
            </div>
        </div>
   
                <div class="header_contact_1">
                    <div class="contact_ima_1">
                        <div class="contact111">
                           <div class="contact_ima_2"></div>
                        </div>
                       </div>
            <div class="identities_1">
               <a href="#"> <h1 class="verifies">Buy Crypto</h1></a>
            </div>
        </div>
        <div class="header_contact">
            <div class="contact_ima">
                <img src="./images/img_plus.svg" alt="" width="35">
            </div>
            <div class="identities">
             <a href="#"><h1 class="verifies">Register for an Account</h1></a>
            </div>
        </div>

    <pre class="fund_your">
    Buy & sell crypto: Fund your Account 
    with Traditional currencies<span class="users_can">

    Users can easily vuy Bitcoin and other 
    cryptocurrencies using a  wide range of 
    payment options, including banks tranfer, 
    credit or debit card and cash. There’s 
    a payment option for everyone on 
    PurgilSwap. 
    
    We work only with verified and trusted 
    partners to give you a secure and seamless 
    crypto buying experience. 
    
    PurgilSwap accespts a wide range of 
    currencies and make it easy for you to 
    buy crypto using USD, EUR, NGN and other 
    fiat currencies to buy crypto. 
    
    Once you complete the purchase, we will 
    deposit your new crypto directly into 
    your PurgilSwap wallet -a safe and simple 
    way to manage your crypto assets. You can 
    immediately trade your purchased crypto 
    the many products and services on the 
    PurlgilWsap platform.
    </span>
    </pre>

    <div class="fixed_button">
    <button class="fix_butt">Log In/Sign Up</button>
    </div>


 

    











<script src="./js/script.js"></script>
<%- include('./partial/liveChat.ejs') %>
<%- include('./partial/footer.ejs') %>
<%- include('./partial/javascriptLink.ejs') %>
</body>
</html>