<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head.ejs') %> 
</head>
<body>
    <div class="nav">
        <div class="log">
            <img src="./images/pugrilswapLogo.png" width="27" height="20" alt="">
        </div>
        <nav>
            <i class="fa fa-bell" style="font-size:20px"></i>
            <i class="fa fa-user" style="font-size:20px"></i>
        </nav>
    </div>

    <div class="container">
        <div class="content">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./images/girl.jpg" class="d-block w-100" height="180" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./images/hoodie_Mockup.jpg" class="d-block w-100" height="180" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./images/Free Plastic Credit Debit Card Mockup PSD-1.png" class="d-block w-100" height="180" alt="...">
                  </div>
                </div>
              </div>
        </div>
        <div class="run">
            <marquee behavior="" direction="">Purgilswap is going to change the world. </marquee>

        </div>
    </div>

   
<section id="display">
    <div class="markett">
        <div class="options">
            <div class="trade">
                <i class="fa fa-line-chart"></i> <br>
                <code>Trade</code>
            </div>
            <div class="trade">
                <i class="fas fa-user-plus"></i> <br>
                <code>Referral</code>
            </div>
            <div class="trade">
                <i class="fas fa-money-check-alt"></i> <br>
                <code>withdraw</code>
            </div>
            <div class="trade">
                <i class="far fa-money-bill-alt"></i> <br>
                <code>Earn</code>
            </div>
        </div> 

        <div class="price">
            <div class="deposit">
                <code>Deposit</code>
                <div class="deposit-content">
                    
                    <p>Visa card, Master card, NGN supported</p>
                    <div class="icon">
                        <i class='fas fa-donate' style='font-size:24px'></i> 
                    </div>
                </div>   
            </div>
              <div class="deposit">
                <code>P2P trading</code>
                <div class="deposit-content">
                    <p>Bank card, bank transfer, digital wallect transfer</p>
                    <div class="icon">
                        <i class='fas fa-user-friends' style='font-size:24px'></i> 
                    </div>
                </div>   
            </div>
           
        </div>

        <div class="list-option">
            <div class="market-spot">
                <code>Spot</code>
            </div>
            <div class="market-price">
                <code>price</code>
            </div>
            <div class="market-hour">
                <code>24h chg%</code>
            </div>
        </div>

        <div class="price-list">
            <div class="spot">
                <code>XRP <span> /USDT</span></code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-34%</button>
            </div>
        </div>

        <div class="price-list">
            <div class="spot">
                <code>BNB <span>/USDT</span> </code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-34%</button>
            </div>
        </div>


        <div class="price-list">
            <div class="spot">
                <code>SOL <span>/USDT</span> </code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-3.4%</button>
            </div>
        </div>

        <div class="price-list">
            <div class="spot">
                <code>ETH<span>/USDT</span></code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-34</button>
            </div>
        </div>

        <div class="price-list">
            <div class="spot">
                <code>BTC<span>/USDT</span></code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-34</button>
            </div>
        </div>

        <div class="price-list">
            <div class="spot">
                <code>MATIC<span>/USDT</span></code>
            </div>
            <div class="price">
                <code>0.4739</code>
            </div>
            <div class="duration">
                <button>-34</button>
            </div>
        </div>
    </div>

    <div class="view-all">
         <a href="#">View more</a>
    </div>
    
     <br> <br> <br> <br> 
    <div class="menu">
        <div class="market-menu">
            <i class="fa fa-home"></i> 
            <code>Home</code>
        </div>
        <div class="market-menu">
            <i class="material-icons">equalizer</i> 
            <code>Market</code>
        </div>
        <div class="market-menu">
            <i class="material-icons">show_chart</i> 
            <code>Spot</code>
        </div>
        <div class="market-menu">
            <i class='fas fa-user-friends'></i> 
            <code>P2P</code>
        </div>
        <div class="market-menu">
            <i class='fas fa-wallet' style='font-size:24px'></i> 
            <code>Wallect</code>
        </div>
    </div>
</section>
  



    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>