<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
  <body class="welcome">
    <div id="mobile">
      <div class="home-display">
        <!-- <img class="logo-right" src="./images/logo right.png" /> -->
        <div class="main">
          <img
            src="./images/welcome photo.png"
            width="250"
            height="40"
            alt="Logo"
          />
        </div>
        <img class="logo-left" src="./images/home angle green circle.png" />

        <div class="home-footer">
          <h1>Welcome to purgilSwap</h1>
          <h3>
            <span> </span> PurgilSwap is the world’s most profitable crypto
            asset platform where you can buy, sell and store cryptocurrencies.
            <h3>
              The most intriguing feature of this lucrative platform is the new
              auto-earn DCA system, which makes any user eligible to earn upto
              0.4% of any amount invested with a significant turnover in a short
              length of time.
            </h3>
            <h3>
              Swap between crypto assets is also made easy with end-to-end
              encryption, funds security.
            </h3>
          </h3>
          <img src="./images/home angle gree box.png" />
          <div class="home-hidden">
            <img src="./images/purgil Rectangle.png" />
          </div>

          <div style="display: none" id="loading">
            <button id="load"><span>Proceed</span></button>
            <!-- <p id="load"><button>Proceed</button></p> -->
          </div>
        </div>
      </div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
