<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
  <body class="welcome">
    <div id="mobile">
      <img class="logo-right" src="./images/logo right.png" />
      <div class="main">
        <img
          src="./images/welcome photo.png"
          width="250"
          height="40"
          alt="Logo"
        />
      </div>
      <img class="logo-left" src="./images/logo left.png" />
      <div id="loading">
        <p id="load"></p>
      </div>
    </div>

    <script src="./js/script.js"></script>
  </body>
</html>
