<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %> 
<body>
    <div id="mobile">
        <div class="main">
            <img src="./images/2nd purgilswap trans 2.png" width="250" height="40" alt="Logo">
        </div>
        <div id="loading">
            <p id="load"></p>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>