<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
  <body
    style="
      height: 100vh;
      background-image: linear-gradient(white 65%, rgb(143, 143, 143));
    "
  >
    <div class="signup">
      <p>&larr;</p>
      <img src="./images/sigup logo.png" alt="" />
    </div>
    <div class="signup-img">
      <img src="./images/welcome photo.png" />
    </div>
    <div class="signup-btn">
      <h2>Login to your Account</h2>
      <form class="form">
        <div class="form-login">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
        </div>
        <p class="login-forget">Forget password?</p>
        <div class="btn-login">
          <button class="btn">Login</button>
          <div class="btn-arrow-login">
            <p class="btn-arrow-arrow-login">&gt;</p>
          </div>
        </div>
      </form>

      <div class="footer-page">
        <div class="footer-page-link">
          <h2>or sign in with</h2>
          <div class="social-icons">
            <button class="btn-link">
              <a href="google.com"><img src="./images/icons8-google.svg" /></a>
            </button>

            <button class="btn-link">
              <a href="facebook.com"
                ><img src="./images/icons8-facebook.svg"
              /></a>
            </button>

            <button class="btn-link">
              <a href="twitter.com"
                ><img src="./images/icons8-twitter.svg"
              /></a>
            </button>
          </div>
        </div>
        <p class="footer-text">Don't have an account <a href="#">sign up</a></p>
      </div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
