
<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
<body style="background-color: #200032;">
  
  <section id="mobile">
      <div class="login">
        <div class="login-container">
            <div class="cornerColor"></div>
          <div class="login-content">
              <div class="logo">
                <img src="./images/welcome photo.png" alt="">
              </div>
              <h3>Login to your account</h3>
              <form action="#" method="post">
                <input type="email" placeholder="Email">           
                <input type="password" placeholder="Password">
                <button type="submit">Continue</button>
              </form>
          </div>
          
        </div>
      </div>
      <div class="downLock"></div>
      <div class="downLock1"></div>
  </section>
</body>
</html>