<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <section class="main-container">
      <div class="main-page">
        <div class="main-top-bar">
          <img src="./images/purgil logo.png" width="50px" />
          <img src="./images/menu.png" width="36px" />
        </div>

        <div class="main-slider">
          <div class="sliders">
            <img src="./images/purgil slider 1.png" />
            <img src="./images/purgil slider 2.png" />
            <img src="./images/purgil slider 3.png" />
          </div>
          <div class="dots">
            <i style="color: green" class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
            <!-- <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i> -->
          </div>
        </div>

        <div class="main-text">
          <h1>
            Buy, trade, and hold 30+ <br />
            cryptocurrencies on purgilswap
          </h1>

          <div class="trade-flex">
            <div class="trade-icon">
              <img src="./images/trade-icon.svg" width="23" />
            </div>
            <div class="trade">
              <div class="trade-text">
                <h3>Trade bitcoin</h3>
              </div>
              <div class="trade-arrow">
                <img src="./images/purgil menu bar.png" width="19px" />
              </div>
            </div>

            <div class="live-menu">
              <img src="./images/live chat svg.svg" />
            </div>
          </div>

          <div class="main-sign-up">
            <button class="btn-text">
              <img src="./images/fund svg.svg" alt="" />
              <h3>Sign up with Email</h3>
            </button>

            <h1>or</h1>

            <img class="purgil-box" src="./images/purgil box.png" />
            <div class="signup-hidden">
              <img src="./images/purgil Rectangle.png" />
            </div>

            <button class="btn-text1">
              <img src="./images/google svg.svg" alt="" />
              <h3>Continue with Google</h3>
            </button>

            <hr />
          </div>
        </div>

        <div class="main-trade">
          <div class="main-trade-section">
            <div class="main-trade-table">
              <h1><strong>Popular cryptocurrencies</strong></h1>
              <div class="main-trade-table-header">
                <div class="main-trade-table1">
                  <div class="table-list1">
                    <h2>Name</h2>
                  </div>
                  <div class="table-list2">
                    <img src="./images/bitcoin svg.svg" />
                    <h1><strong>Bitcoin</strong></h1>
                    <h3>BTC</h3>
                  </div>
                  <div class="table-list2">
                    <img src="./images/eth2 svg.svg" />
                    <h1><strong>Ethereum</strong></h1>
                    <h3>ETH</h3>
                  </div>
                  <div class="table-list2">
                    <img src="./images/bnb svg.svg" />
                    <h1><strong>BNB</strong></h1>
                    <h3>BNB</h3>
                  </div>
                  <div class="table-list2">
                    <img src="./images/doge svg.svg" />
                    <h1><strong>Doge</strong></h1>
                    <h3>DOGE</h3>
                  </div>
                  <div class="table-list2">
                    <img src="./images/ripple svg.svg" />
                    <h1><strong>Ripple</strong></h1>
                    <h3>XRP</h3>
                  </div>
                </div>
                <div class="main-trade-table2">
                  <div class="table-list-right1">
                    <h3>Last price</h3>
                    <h3>24h change</h3>
                  </div>
                  <div class="table-list-right2">
                    <h3>$276.4</h3>
                    <div class="red-text">
                      <h4>-7.9%</h4>
                    </div>
                  </div>
                  <div class="table-list-right2">
                    <h3>$276.4</h3>
                    <div class="green-text">
                      <h4>-7.9%</h4>
                    </div>
                  </div>
                  <div class="table-list-right2">
                    <h3>$276.4</h3>
                    <div class="red-text">
                      <h4>-7.9%</h4>
                    </div>
                  </div>
                  <div class="table-list-right2">
                    <h3>$276.4</h3>
                    <div class="green-text">
                      <h4>-7.9%</h4>
                    </div>
                  </div>
                  <div class="table-list-right2">
                    <h3>$276.4</h3>
                    <div class="red-text">
                      <h4>-7.9%</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-footer">
                <h3><strong>View more markets</strong></h3>
                <img src="./images/purgil menu bar.png" width="19px" />
              </div>
            </div>

            <div class="main-signup-text">
              <h1>Sign up now to build your own portfolio for free!</h1>
              <button><span>Get started</span></button>
            </div>

            <div class="main-display">
              <div class="main-display-text">
                <img src="./images/verify svg.svg" alt="" />
                <h1>Verify your identity</h1>
                <h3>
                  Complete the identity verification process to secure your
                  account and transactions.
                </h3>
              </div>
              <div style="padding-top: 20px" class="main-display-text">
                <img src="./images/fund svg.svg" alt="" />
                <h1>Fund your account</h1>
                <h3>
                  Add funds to your crypto account to start trading crypto. You
                  can add funds with a variety of payment methods.
                </h3>
              </div>
              <div style="padding-top: 20px" class="main-display-text">
                <img src="./images/trading svg.svg" alt="" />
                <h1>Start trading</h1>
                <h3>
                  You’re good to go! Buy/sell crypto, set up recurring buys for
                  your investment, and discover what Pulgilswap has to offer.
                </h3>
              </div>
            </div>

            <div class="main-signup-text1">
              <button><span>Get started</span></button>
            </div>

            <div class="earn-text">
              <h1>Earn with Pulgilswap</h1>
              <h3>Simple & secure. Search popular coins and start earning</h3>
            </div>

            <div class="main-display-flex">
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/usdt svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>USDT</strong></h1>
                    <h3><span>APR</span>0.14%-80.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/bitcoin svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>BTC</strong></h1>
                    <h3><span>APR</span>0.34%-40.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
            </div>

            <div style="margin-top: 20px" class="main-display-flex">
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/bnb svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>BNB</strong></h1>
                    <h3><span>APR</span>0.30%-43.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/busd svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>BUSD</strong></h1>
                    <h3><span>APR</span>0.34%-40.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
            </div>

            <div style="margin-top: 20px" class="main-display-flex">
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/eth2 svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>ETH</strong></h1>
                    <h3><span>APR</span>0.30%-43.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
              <div class="main-display-flex-bg">
                <div class="main-display-flex-bg1">
                  <img src="./images/display.png" />
                </div>
                <div class="main-display-flex-item">
                  <img src="./images/ltc svg.svg" />
                  <div class="main-display-flex-text">
                    <h1><strong>LTC</strong></h1>
                    <h3><span>APR</span>0.30%-43.32%</h3>
                  </div>
                  <img
                    class="display-arrow"
                    src="./images/arrow circle svg.svg"
                    width="20px"
                  />
                </div>
              </div>
            </div>

            <div class="main-signup-text3">
              <button><span>Get started</span></button>
            </div>

            <div class="main-display-footer-curve">
              <img class="main-display-box" src="./images/purgil box.png" />
              <div class="main-display-hidden">
                <img src="./images/purgil Rectangle.png" />
              </div>
            </div>

            <div style="margin-top: 25px" class="main-light-display">
              <img src="./images/secure svg.svg" />
              <h1><strong>Secure Asset Funds for users (SAFU)</strong></h1>
              <h3>
                Pilgilswap stores 10% of all trading fees in a secure asset to
                protect a share of user funds.
              </h3>
            </div>
            <div style="margin-top: 25px" class="main-light-display">
              <img class="personal-1" src="./images/personalised bg svg.svg" />
              <div class="personal-2">
                <img src="./images/eye svg.svg" />
              </div>
              <h1><strong>Personalised Access Control</strong></h1>
              <h3>
                Advanced access control allows you to restrict device and
                addresses that can access your account, for greater ease of
                mind.
              </h3>
            </div>
            <div style="margin-top: 25px" class="main-light-display">
              <img src="./images/data svg.svg" />
              <h1><strong>Advanced Data Encryption</strong></h1>
              <h3>
                Your transaction data is secured via end-to-end encryption,
                ensuring that only you have access to your personal information.
              </h3>
            </div>

            <div class="main-signup-text4">
              <button><span>Start now</span></button>
            </div>

            <div class="trade-text-footer">
              <h1><strong>Trade on the go. Anywhere, Anytime</strong></h1>
            </div>

            <div class="app-icon">
              <img src="./images/app icon.png" alt="" />
            </div>

            <div class="help">
              <div class="need-help">
                <h1><strong>Need Help?</strong></h1>
              </div>
              <div class="help-options">
                <img src="./images/chat svg.svg" />
                <h2><strong>24/7 Chat Support</strong></h2>
                <h3>
                  Get 24/7 chat support with our friendly customer service agent
                  at your service.
                </h3>
                <p>Chat now</p>
              </div>

              <div class="help-options">
                <img src="./images/faq svg.svg" />
                <h2><strong>FAQs</strong></h2>
                <h3>
                  View FAQs for detailed instructions on specific features.
                </h3>
                <p>Learn now</p>
              </div>

              <div class="help-options">
                <img src="./images/blog svg.svg" />
                <h2><strong>Blog</strong></h2>
                <h3>Stay up to date with the latest stories and commentart.</h3>
                <p>Learn now</p>
              </div>

         
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
