<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <div class="main-container">
      <div class="main-cornerColor"></div>
      <div class="main-page">
        <div class="main-top-bar">
          <img src="./images/purgil logo.png" width="35px" />
          <img src="./images/menu.png" width="23px" />
        </div>

        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./images/purgil slider 1.png" />
            </div>
            <div class="swiper-slide">
              <img src="./images/purgil slider 2.png" />
            </div>
            <div class="swiper-slide">
              <img src="./images/purgil slider 3.png" />
            </div>
            <div class="swiper-slide">
              <img src="./images/purgil slider 4.png" />
            </div>
            <div class="swiper-slide">
              <img src="./images/purgil slider 5.png" />
            </div>
            <div class="swiper-slide">
              <img src="./images/purgil slider 6.png" />
            </div>
          </div>
          <br />

          <div class="swiper-pagination"></div>
        </div>

        <div class="main-text">
          <h1>
            Buy, trade, and hold 30+ <br />
            cryptocurrencies on purgilswap
          </h1>

          <div class="trade-flex">
            <div class="trade-icon">
              <img src="./images/trade-icon.svg" width="18" />
            </div>
            <div class="trade">
              <div class="trade-text">
                <h3>Trade bitcoin</h3>
              </div>
              <div class="trade-arrow">
                <img src="./images/purgil menu bar.png" width="15px" />
              </div>
            </div>
          </div>

          <div class="main-sign-up">
            <button class="btn-text">
              <img src="./images/fund svg.svg" alt="" />
              <h3>Sign up with Email</h3>
            </button>

            <h1>or</h1>

            <button class="btn-text1">
              <img src="./images/google svg.svg" alt="" />
              <h3>Continue with Google</h3>
            </button>
          </div>
        </div>

        <%- include('./partial/liveChat.ejs') %>

        <div class="main-trade-curve1"></div>

        <div class="main-trade-curve"></div>

        <div class="main-trade">
          <div class="main-trade-section">
            <section class="show-item">
              <div class="main-trade-table">
                <h1>Popular cryptocurrencies</h1>
                <div class="main-trade-table-header">
                  <div class="main-trade-table1">
                    <div class="table-list1">
                      <h3>Name</h3>
                      <div class="table-list-right1">
                        <h3>Last price</h3>
                        <h3>24h change</h3>
                      </div>
                    </div>

                    <div class="table-list2">
                      <div class="table-list2-1">
                        <img src="./images/bitcoin svg.svg" />
                        <h3>Bitcoin</h3>
                        <p>BTC</p>
                      </div>

                      <div class="table-list-right-number">
                        <h3>$276.4</h3>
                        <div class="red-text">
                          <h3>-2.6%</h3>
                        </div>
                      </div>
                    </div>

                    <div class="table-list2-rest">
                      <div class="table-list2-1">
                        <img src="./images/eth1 svg.svg" />
                        <h3>Ethereum</h3>
                        <p>ETH</p>
                      </div>

                      <div class="table-list-right-number">
                        <h3>$276.4</h3>
                        <div class="green-text">
                          <h3>-7.9%</h3>
                        </div>
                      </div>
                    </div>

                    <div class="table-list2-rest">
                      <div class="table-list2-1">
                        <img src="./images/bnb svg.svg" />
                        <h3>BNB</h3>
                        <p>BNB</p>
                      </div>

                      <div class="table-list-right-number">
                        <h3>$276.4</h3>
                        <div class="red-text">
                          <h3>-7.9%</h3>
                        </div>
                      </div>
                    </div>

                    <div class="table-list2-rest">
                      <div class="table-list2-1">
                        <img src="./images/doge svg.svg" />
                        <h3>Doge</h3>
                        <p>DOGE</p>
                      </div>

                      <div class="table-list-right-number">
                        <h3>$276.4</h3>
                        <div class="green-text">
                          <h3>-7.9%</h3>
                        </div>
                      </div>
                    </div>

                    <div class="table-list2-rest">
                      <div class="table-list2-1">
                        <img src="./images/eth1 svg.svg" />
                        <h3>Ripple</h3>
                        <p>XRP</p>
                      </div>

                      <div class="table-list-right-number">
                        <h3>$276.4</h3>
                        <div class="red-text">
                          <h3>-7.9%</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br />

                <div class="table-footer">
                  <h3>View more markets</h3>
                  <img src="./images/purgil menu bar.png" width="19px" />
                </div>
              </div>
            </section>

            <section class="show-item">
              <div class="main-signup-text">
                <h1>Sign up now to build your own portfolio for free!</h1>
                <a href="#"
                  ><button><span>Get started</span></button></a
                >
              </div>
            </section>

            <section class="show-item">
              <div class="main-display">
                <div class="main-display-text">
                  <img src="./images/verify svg2.svg" alt="" />
                  <h1>Verify your identity</h1>
                  <h3>
                    Complete the identity verification process to secure your
                    account and transactions.
                  </h3>
                </div>
                <div style="padding-top: 20px" class="main-display-text">
                  <img src="./images/fund svg2.svg" alt="" />
                  <h1>Fund your account</h1>
                  <h3>
                    Add funds to your crypto account to start trading crypto.
                    You can add funds with a variety of payment methods.
                  </h3>
                </div>
                <div style="padding-top: 20px" class="main-display-text">
                  <img src="./images/trading svg2.svg" alt="" />
                  <h1>Start trading</h1>
                  <h3>
                    You’re good to go! Buy/sell crypto, set up recurring buys
                    for your investment, and discover what Pulgilswap has to
                    offer.
                  </h3>
                </div>
              </div>
            </section>

            <section class="show-item">
              <div class="main-signup-text1">
                <a href="#"
                  ><button><span>Get started</span></button></a
                >
              </div>
            </section>

            <section class="show-item">
              <div class="earn-text">
                <h1>Earn with Pulgilswap</h1>
                <h3>Simple & secure. Search popular coins and start earning</h3>
              </div>
            </section>

            <section class="show-item">
              <div class="main-display-flex">
                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img src="./images/usdt svg.svg" />
                    <div class="main-display-flex-text">
                      <h1>USDT</h1>
                      <h3><span>APR</span>0.14%-80.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>

                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img class="" src="./images/bitcoin svg2.svg" />
                    <div class="main-display-flex-text">
                      <h1>BTC</h1>
                      <h3><span>APR</span>0.34%-40.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>
              </div>
            </section>

            <section class="show-item">
              <div class="main-display-flex-rest">
                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img src="./images/bnb svg2.svg" />
                    <div class="main-display-flex-text">
                      <h1>BNB</h1>
                      <h3><span>APR</span>0.30%-43.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>

                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img src="./images/busd svg 2.svg" />
                    <div class="main-display-flex-text">
                      <h1>BUSD</h1>
                      <h3><span>APR</span>0.34%-40.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>
              </div>
            </section>

            <section class="show-item">
              <div class="main-display-flex-rest">
                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img src="./images/eth2 svg.svg" />
                    <div class="main-display-flex-text">
                      <h1>ETH</h1>
                      <h3><span>APR</span>0.30%-43.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>

                <div class="main-display-flex-bg">
                  <div class="main-display-flex-item">
                    <img src="./images/ltc svg.svg" />
                    <div class="main-display-flex-text">
                      <h1>LTC</h1>
                      <h3><span>APR</span>0.30%-43.32%</h3>
                    </div>
                    <img
                      class="display-arrow"
                      src="./images/arrow circle svg.svg"
                      width="15px"
                    />
                  </div>
                </div>
              </div>
            </section>

            <section class="show-item">
              <div class="main-signup-text3">
                <a href="#"
                  ><button><span>Get started</span></button></a
                >
              </div>
            </section>

            <div class="main-trade-curvedown1"></div>
            <div class="main-trade-curve-down"></div>

            <!--  -->

            <section class="show-item">
              <section class="show-item">
                <div class="main-light-display">
                  <img src="./images/secure svg.svg" />
                  <h1>Secure Asset Funds for users (SAFU)</h1>
                  <h3>
                    Pilgilswap stores 10% of all trading fees in a secure asset
                    to protect a share of user funds.
                  </h3>
                </div>
              </section>
              <section class="show-item">
                <div style="margin-top: 25px" class="main-light-display">
                  <img
                    class="personal-1"
                    src="./images/personalised bg svg.svg"
                  />
                  <div class="personal-2">
                    <img src="./images/eye svg.svg" />
                  </div>
                  <h1>Personalised Access Control</h1>
                  <h3>
                    Advanced access control allows you to restrict device and
                    addresses that can access your account, for greater ease of
                    mind.
                  </h3>
                </div>
              </section>
              <section class="show-item">
                <div style="margin-top: 25px" class="main-light-display">
                  <img src="./images/data svg.svg" />
                  <h1>Advanced Data Encryption</h1>
                  <h3>
                    Your transaction data is secured via end-to-end encryption,
                    ensuring that only you have access to your personal
                    information.
                  </h3>
                </div>
              </section>
            </section>

            <section class="show-item">
              <div class="main-signup-text4">
                <a href="#"
                  ><button><span>Start Now</span></button></a
                >
              </div>
            </section>

            <section class="show-item">
              <div class="trade-text-footer">
                <h1>Trade on the go. Anywhere, Anytime</h1>
              </div>
            </section>

            <section class="show-item">
              <div class="app-icon">
                <img src="./images/app icon.png" alt="" />
              </div>
            </section>

            <section class="show-item">
              <div class="help">
                <div class="need-help">
                  <h1>Need Help?</h1>
                </div>
                <div class="help-options">
                  <img src="./images/chat svg.svg" />
                  <h2>24/7 Chat Support</h2>
                  <h3>
                    Get 24/7 chat support with our friendly customer service
                    agent at your service.
                  </h3>
                  <p>Chat now</p>
                </div>

                <div class="help-options">
                  <img src="./images/faq svg.svg" />
                  <h2>FAQs</h2>
                  <h3>
                    View FAQs for detailed instructions on specific features.
                  </h3>
                  <p>Learn now</p>
                </div>

                <div class="help-options">
                  <img src="./images/blog.svg" />
                  <h2>Blog</h2>
                  <h3>
                    Stay up to date with the latest stories and commentart.
                  </h3>
                  <p>Learn now</p>
                </div>
              </div>
            </section>
            <section class="show-item">
              <%- include('./partial/footer.ejs') %>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/script.js"></script>
  </body>
</html>
