<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partial/head.ejs') %>
</head>

<body>
    <div>
        <div class="main-cornerColor"></div>
        <div class="mainMarket_logo">
            <img src="./images/welcome photo.png" width="120" height="18" alt="Logo" />
        </div>
        <h6 style="font-weight: bolder; margin-left: 10px!important; word-spacing: 5px!important;">Markets</h6>

        <div class="market_input">
            <img src="./images/Vector.svg" alt="" style="margin-left: 10px;">
            <input type="text" placeholder="Search  Coin Name">
        </div>

        <div class="marketHead_links">
            <div class="d-flex justify-content-between align-items-center">
                <img src="./images/Vector (1).svg" alt="">
                <p style="font-size:12px ; font-weight:bold;">Favorites</p>
            </div>

            <p style="font-size:12px ; font-weight:bold;">All cryptos</p>
            <p style="font-size:12px ; font-weight:bold;">Spot Markets</p>
            <p style="font-size:12px ; font-weight:bold;">New Listings</p>
        </div>
        <div class="d-flex justify-content-between m-2">
            <h6><strong>BUSD</strong></h6>
            <h6>USDT</h6>
            <h6>PNGN</h6>
            <h6>BTC</h6>
            <img src="./images/Vector (2).svg" alt="">
        </div>
        <div class="market3_table">
            <div class="mainMarket_table_head">
                <p style="font-size:10px ; font-weight:bold;">Name</p>
                <p style="font-size:10px ; font-weight:bold;">Price/ 24h change</p>
                <p style="font-size:10px ; font-weight:bold;">Cap/Vol</p>
            </div>
            <div class="mainMarket_table_body">
                <div class="mainMarket_table_bodyInside">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <img src="./images/Vector (1).svg" alt="">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>PNGN </h6>
                                    <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                </div>

                            </div>
                        </div>
                        <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                    </div>

                    <div style="text-align: center; color:rgb(5, 187, 5)">
                        <h6>29,990.45</h6>
                        <p style="font-size:10px ; ">$29,990.45</p>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn" style="text-align: center; background-color:
                            #FF0303; color: white;">+3.76%</button>
                    </div>
                </div>
                <div class="mainMarket_table_bodyInside">
                    <div>
                        <div class="d-flex">
                            <img src="./images/Green Star.svg" alt="">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>ETH </h6>
                                    <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                </div>

                            </div>
                        </div>
                        <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                    </div>

                    <div style="text-align: center; color:rgb(5, 187, 5);">
                        <h6>29,990.45</h6>
                        <p style="font-size:10px">$29,990.45</p>
                    </div>
                    <div style="text-align: center;">
                        <button style="text-align: center; background-color:rgb(5, 187, 5); color: white;"
                            class="btn">+3.76%</button>
                    </div>
                </div>
                <div class="mainMarket_table_body">
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>DODGE </h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5)">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px ; ">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn" style="text-align: center; background-color:
                                #FF0303; color: white;">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>XRP</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5);">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button style="text-align: center; background-color:rgb(5, 187, 5); color: white;"
                                class="btn">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>USDT</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5);">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button style="text-align: center; background-color:rgb(5, 187, 5); color: white;"
                                class="btn">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>SHIBA </h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5)">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px ; ">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn" style="text-align: center; background-color:
                                #FF0303; color: white;">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>BTC</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5)">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px ; ">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn" style="text-align: center; background-color:
                            #FF0303; color: white;">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>MATIC</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5);">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button style="text-align: center; background-color:rgb(5, 187, 5); color: white;"
                                class="btn">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>BNB</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5)">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px ; ">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn" style="text-align: center; background-color:
                            #FF0303; color: white;">+3.76%</button>
                        </div>
                    </div>
                    <div class="mainMarket_table_bodyInside">
                        <div>
                            <div class="d-flex">
                                <img src="./images/Vector (1).svg" alt="">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6>LTC</h6>
                                        <sub style="font-size:8px ; font-weight:bold;">/BUSD</sub>  
                                    </div>

                                </div>
                            </div>
                            <p style="font-size:8px ; font-weight:bold;">vol 3,675.45M</p>
                        </div>

                        <div style="text-align: center; color:rgb(5, 187, 5);">
                            <h6>29,990.45</h6>
                            <p style="font-size:10px">$29,990.45</p>
                        </div>
                        <div style="text-align: center;">
                            <button style="text-align: center; background-color:rgb(5, 187, 5); color: white;"
                                class="btn">+3.76%</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <%- include('./partial/liveChaticon.ejs') %>
    </div>
    <%- include('./partial/footer.ejs') %>
</body>

</html>