<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head.ejs') %> 
    <link rel="stylesheet" href="./market_2.css">
</head>
<body>
    <div id="main_container_head">
        <div>
            <div class="nav_logo">
                <div class="main_logo">
                    <img src="./images/main_logo.svg" alt="">
                </div>
                <div class="main-cornerColor"></div>
            </div>
            <div class="main_contents">
                <div class="m_market">
                    <h2>Markets</h2>
                </div>
                <div class="searching">
                    <img src="./images/search.svg" alt="">
                    <input type="text" placeholder="Search Coin Name">
                </div>
            </div>
            <div class="m_nav">
                <div class="favour">
                    <img src="./images/star.svg" alt="">
                    <a href="#">Favourites</a>
                </div>
                <div class="all_cry">
                    <a href="#">All Cryptos</a>
                </div>
                <div class="spot_mark">
                    <a href="#">Spot markets</a>
                </div>
                <div class="new_li">
                    <a href="#">New List</a>
                </div>
            </div>
        </div>
    </div>

    <sectionc class="sec_head">
        <div class="section_header">
            <div class="sec_conts">
                <div class="namer">
                    <p>Name</p>
                </div>
                <div class="price_24h">
                    <p>Price/24h change</p>
                </div>
                <div class="caps">
                    <p>Cap/Vol</p>
                </div>
            </div>
            <div class="search_section">
                <div class="filtre">
                    <img src="./images/filtre.svg" alt="">
                </div>
                <div class="search12">
                    <img src="./images/big_search.svg" alt="">
                </div>
            </div>
            <div class="no_result">
                <p>No results . Go to spot to add your favorite tokens</p>
            </div>
            <div class="but_mess">
                <div class="add_fav">
                    <button class="buttt">Add Favorites</button>
                </div>
            </div>
        </div>

    </section>






    <%- include('./partial/footer.ejs') %>
<script src="./js/market_2.js"></script>
<script src="./bootstrap/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>