<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
  <body style="background-color: #31ac00">
    <section id="mobile">
      <div class="login">
        <div class="login-container">
          <div class="cornerColor"></div>

          <div class="main">
            <img
              src="./images/welcome photo.png"
              width="250"
              height="40"
              alt="Logo"
            />
          </div>

          <div class="home-footer">
            <h1>Welcome to purgilSwap</h1>
            <h3>
              PurgilSwap is the world’s most profitable crypto asset platform
              where you can buy, sell and store cryptocurrencies.
            </h3>
            <h3 class="footer-text2">
              The most intriguing feature of this lucrative platform is the new
              auto-earn DCA system, which makes any user eligible to earn upto
              0.4% of any amount invested with a significant turnover in a short
              length of time.
            </h3>
            <h3 class="footer-text2">
              Swap between crypto assets is also made easy with end-to-end
              encryption, funds security.
            </h3>
            <div style="display: none" id="loading">
              <button onclick="openMainPage()" id="load">
                <span>Proceed</span>
              </button>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="downLock"></div>
      <div class="downLock1"></div>
    </section>
    <script src="./js/script.js"></script>
  </body>
</html>
