* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

/* For mobile */
@media only screen and (max-width: 550px) {
  /* .body {
    background-color: white;
    color: white;
  } */

  /* .welcome {
    background-color: #04c42a;
    animation: spin;
    animation-duration: 7s;
    animation-iteration-count: 1;
  } */

  #mobile {
    padding: 0;
    margin: 0;
  }

  /* .home-display {
    position: relative;
    width: 428px;
    height: 926px;

    background: #ffffff;
    border-radius: 20px;
  } */

  .main img {
    width: 240px;
    position: absolute;
    width: 186px;
    height: 30px;
    left: calc(47% - 186px / 2 + 6px);
    top: 295px;
  }

  .logo-left {
    position: absolute;
    /* width: 206px;
    height: 260.68px;
    left: -126px;
    top: -35px;
    position: absolute;
    height: 150px;
    top: -1px; */
  }

  .home-footer {
    background-color: #31ac00;
    position: absolute;
    bottom: 0;
    width: 408px;
    height: 405px;
    border-radius: 0px 85px 0px 0px;

    /* position: absolute;
    width: 482.5px;
    height: 385px;
    left: -49px;
    top: 566.5px;
    background: #200032;
    border-radius: 60px; */
  }

  .home-footer h1 {
    font-family: "IBM Plex Sans Thai Looped";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #ffffff;
    padding-top: 50px;
    justify-content: center;
  }

  .home-footer h3 {
    font-family: "IBM Plex Sans Thai Looped";
    font-style: normal;
    font-weight: 500;
    font-size: 10.6px;
    letter-spacing: 0.15em;
    color: #ffffff;
    line-height: 20px;
    justify-content: center;
    padding: 13px 20px 10px 10px;
  }

  .home-footer img {
    position: absolute;
    top: -35px;
    width: 40px;
  }

  .home-hidden img {
    width: 400px;
  }

  .home-hidden {
    width: 100px;
    position: absolute;
    top: -48px;
    width: 60px;
    left: 1px;
  }

  #loading button {
    position: absolute;
    bottom: 20px;
    left: 95px;
    padding: 4px 70px;
    border-radius: 8px;
    background: #a6a6aa;
  }
  #loading button {
    font-family: "IBM Plex Sans Thai Looped";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15em;
    color: #ffffff;
  }

  #loading {
    animation: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  .home-footer {
    /* background-color: white; */
    animation-name: welcome;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }

  @keyframes welcome {
    from {
      transform: translateY(300px);
    }
    to {
      transform: translateY(0px);
    }
  }

  @keyframes move {
    from {
      transform: translateY(200px);
    }
    to {
      transform: translateY(150px);
    }
  }
}
