* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* For mobile */
@media only screen and (max-width: 550px) {
  /* .body {
    background-color: white;
    color: white;
  } */

  /* .welcome {
    background-color: #04c42a;
    animation: spin;
    animation-duration: 7s;
    animation-iteration-count: 1;
  } */

  #mobile {
    padding: 0;
    margin: 0;
  }

  /* .home-display {
    position: relative;
    width: 428px;
    height: 926px;

    background: #ffffff;
    border-radius: 20px;
  } */

  .main img {
    width: 240px;
    position: absolute;
    width: 186px;
    height: 30px;
    left: calc(50% - 186px / 2 + 6px);
    top: 295px;
  }

  .logo-left {
    position: absolute;
    width: 206px;
    height: 260.68px;
    left: -126px;
    top: -35px;
    /* position: absolute;
    height: 150px;
    top: -1px; */
  }

  .home-footer {
    background-color: #200032;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 385px;
    border-radius: 60px 60px 0px 0px;

    /* position: absolute;
    width: 482.5px;
    height: 385px;
    left: -49px;
    top: 566.5px;
    background: #200032;
    border-radius: 60px; */
  }

  .home-footer h1 {
    font-family: "IBM Plex Sans Thai Looped";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #ffffff;
    padding-top: 50px;
    justify-content: center;
  }

  .home-footer h3 {
    font-family: "IBM Plex Sans Thai Looped";
    font-style: normal;
    font-weight: 500;
    font-size: 10.6px;
    letter-spacing: 0.15em;
    color: #ffffff;
    line-height: 20px;
    justify-content: center;
    padding: 10px;
  }

  .home-footer img {
    position: absolute;
    top: -60px;
    width: 80px;
  }

  .home-hidden {
    position: absolute;
    top: -30px;
    width: 80px;
  }

  /* .main {
    animation: move;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

  .welcome {
    background-color: white;
    animation-name: welcome;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

  @keyframes welcome {
    from {
      background-color: #04c42a;
    }
    to {
      background-color: white;
    }
  }

  @keyframes move {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(0px);
    }
  } */
}
