* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* For mobile */
@media only screen and (max-width: 550px) {
  .body {
    background-color: white;
    color: white;
  }

  #mobile {
    padding: 0;
    margin: 0;
  }
}