* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

/* For mobile */
@media only screen and (max-width: 550px) {
  .body {
    background-color: white;
    color: white;
  }

  #mobile {
    padding: 0;
    margin: 0;
  }

  .main-cornerColor {
    position: absolute;
    width: 80px;
    height: 96px;
    right: 0;
    background: rgba(32, 0, 50, 0.1);
    border-radius: 0px 0px 0px 100px;
  }

  .main-trade-curve {
    position: absolute;
    width: 80px;
    height: 96px;
    left: 0px;
    top: 608px;
    background: white;
    border-radius: 0px 0px 0px 60px;
  }
  .main-trade-curve1 {
    position: absolute;
    width: 57px;
    height: 100px;
    left: 0px;
    top: 650px;
    background: #dcdae5;
    border-radius: 0px 0px 0px 0px;
  }

  .main-trade-curve-down {
    position: absolute;
    width: 80px;
    height: 76px;
    left: 0px;
    top: 1460px;
    background: white;
    border-radius: 60px 0px 0px 0px;
  }
  .main-trade-curvedown1 {
    position: absolute;
    width: 55px;
    height: 56px;
    left: 0px;
    top: 1460px;
    background: #dcdae5;
    border-radius: 0px 0px 0px 0px;
  }

  .main-page {
    position: relative;
  }

  .main-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
  }

  .swiper {
    position: relative;
  }

  .swiper-pagination {
    position: absolute;
  }

  .swiper-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 10px;
    left: 18px;
  }

  .swiper-slide img {
    width: 90%;
  }

  .main-text {
    position: relative;
  }

  .swiper-pagination {
    bottom: 0 !important;
  }

  .main-text h1 {
    position: absolute;
    left: 17px;
    top: 5px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #000000;
  }

  .trade-flex {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    left: 27px;
    top: 210px;
  }

  .trade {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .trade-icon {
    margin-top: -10px;
  }

  .trade-arrow {
    margin-top: -10px;
  }

  .live-menu img {
    width: 50px;
    position: fixed;
    z-index: 1;
    left: 310px;
    top: 580px;
  }

  .trade h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 46px;
  }

  .main-sign-up {
    position: relative;
  }

  .main-sign-up .btn-text {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    left: 10px;
    top: 260px;
    width: 95%;
    border: none;
    background: #1a0c3d;
    padding: 1px;
    border-radius: 10px;
  }

  .main-sign-up .btn-text h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-top: 10px;
    letter-spacing: 0.08em;
    color: white;
  }

  .main-sign-up .btn-text1 {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    left: 10px;
    top: 360px;
    width: 95%;
    border: none;
    background: #9f9f9fba;
    padding: 1px;
    border-radius: 10px;
    z-index: 10;
  }

  .main-sign-up h1 {
    font-size: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    left: 180px;
    top: 310px;
    color: #000000;
  }

  .main-sign-up .btn-text1 h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    padding-top: 7px;
    letter-spacing: 1px;
    color: #000000;
  }

  .btn-text,
  .btn-text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .btn-text img {
    padding: 8px 1px;
    width: 25px;
  }

  .btn-text1 img {
    padding: 8px 1px;
    width: 23px;
  }

  .main-sign-up .signup-hidden {
    position: absolute;
    top: 350px;
  }

  .main-sign-up .signup-hidden img {
    width: 400px;
  }

  .main-sign-up .purgil-box {
    position: absolute;
    top: 400px;
  }

  .main-trade {
    position: relative;
  }

  .main-trade-section {
    position: absolute;
    background: #dcdae5;
    border-radius: 0px 60px 60px 0px;
    top: 433px;
    width: 99.9%;
    height: 1460px;
  }

  .main-trade-table {
    background: white;
    margin: 40px 15px 0px 12px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.678);
  }

  .main-trade-table h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-top: 7px;
    padding-left: 10px;
    color: #000000;
  }

  .main-trade-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table-list-right1 {
    display: flex;
    /* margin-left: 140px; */
  }

  .table-list1 {
    display: flex;
    align-items: center;
    column-gap: 145px;
  }

  .table-list2 {
    display: flex;
    align-items: center;
  }

  .table-list1 h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-top: 7px;
    padding-left: 10px;
    color: #000000;
  }

  .table-list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .table-list2-rest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
  }

  .table-list2-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
    margin-left: 10px;
  }
  .table-list-right-number {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-right: 17px;
  }
  .table-list-right-number h3 {
    font-size: 12px;
    margin: 0px;
  }

  .table-list2-1 h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
  }
  .table-list2-1 p {
    font-size: 9px;
    margin: 2px 0px 0px 0px;
  }

  .red-text h3 {
    color: #d30000;
  }

  .green-text h3 {
    color: #04c42a;
  }

  .table-footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 10px;
  }

  .table-footer img {
    width: 12px;
  }

  .table-footer h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    margin: 0;
  }

  .main-signup-text,
  .main-signup-text1 {
    margin-top: 30px;
    margin-left: 20px;
  }

  .main-signup-text h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    /* letter-spacing: 2px; */
    color: #1a0c3d;
  }

  .main-signup-text button,
  .main-signup-text1 button,
  .main-signup-text3 button {
    width: 95%;
    padding: 5px;
    background: #200032;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }

  .main-signup-text button span,
  .main-signup-text1 button span,
  .main-signup-text3 button span {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .main-display {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .main-display-text img {
    width: 30px;
  }

  .main-display-text h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #1a0c3d;
    line-height: 50px;
  }

  .main-display-text h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    margin-top: -16px;
    letter-spacing: 1.5px;
    color: #666666;
  }

  .earn-text {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .earn-text h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1a0c3d;
  }

  .earn-text h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 1.5px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #666666;
  }

  .main-display-flex {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .main-display-flex-rest {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .main-display-flex-bg {
    width: 100%;
    background: white;
    box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.678);
    height: 130px;
    border-radius: 10px;
  }

  .main-display-flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .main-display-flex-text {
    text-align: center;
    padding-top: 10px;
  }
  .main-display-flex-item h1 {
    font-size: 19px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    color: #000000;
  }

  .main-display-flex-item h3 {
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00941d;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    margin: 0;
  }

  .main-display-flex-item h3 span {
    font-size: 11px;
    color: #000000;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-right: 5px;
    line-height: 30px;
  }

  .main-display-flex-item .display-arrow {
    margin-left: 74px;
  }

  .main-signup-text3 button {
    width: 85%;
    padding: 5px;
    background: #200032;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 15px;
  }

  .main-signup-text3 button span {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .main-light-display {
    position: relative;
    top: 80px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .main-light-display .personal-2 {
    position: absolute;
    top: 0px;
    left: -3px;
  }

  .main-light-display .personal-2 img {
    width: 35px;
  }

  .main-light-display img {
    width: 30px;
  }

  .main-light-display h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: #000000;
    padding-top: 10px;
    letter-spacing: 1px;
    margin: 0;
  }

  .main-light-display h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 15px;
  }

  .main-signup-text4 {
    position: relative;
    top: 90px;
    margin-left: 20px;
  }

  .main-signup-text4 button {
    width: 95%;
    padding: 3px;
    background: #1a0c3d;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }

  .main-signup-text4 button span {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  .trade-text-footer {
    position: relative;
    top: 120px;
    /* margin-left: 20px; */
  }

  .trade-text-footer h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    text-align: center;
  }

  .app-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 125px;
  }

  .help {
    position: relative;
    top: 155px;
    margin-left: 20px;
    margin-bottom: 250px;
  }

  .need-help h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #000000;
  }

  .help-options {
    padding-top: 10px;
  }

  .help-options img {
    width: 30px;
  }

  .help-options h2 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    color: #000000;
    padding-top: 5px;
    margin: 0;
  }

  .help-options h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.69);
  }

  .help-options p {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 1px;
    color: #1a0c3d;
  }

  .footer-general {
    background-color: #d9d9d9;
    margin-right: 0px;
    border-radius: 10px 10px 0px 0px;
    height: 355px;
  }

  .footer-heading {
    padding-top: 20px;
  }

  .footer-heading h1 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000000;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }

  .footer-signup-text button {
    width: 85%;
    padding: 4px;
    background: #1a0c3d;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
  }

  .footer-signup-text button span {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .footer-list {
    margin: 40px 20px 0px 20px;
  }

  .footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-flex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  .footer-flex h2,
  .footer-flex2 h2 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #1a0c3d;
    line-height: 20px;
    margin: 0;
  }
  .footer-flex .plus-sign,
  .footer-flex2 .plus-sign {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: #1a0c3d;
    line-height: 20px;
    margin: 0;
  }

  .footer-text {
    margin: 20px 40px;
  }

  .footer-text h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #1a0c3d;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }

  .social-icons {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 10px;
  }

  .footer-line {
    border: 1px solid #a6a6aa;
    margin-top: -15px;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin-top: -5px;
  }

  .copyright h3 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    /* line-height: 20px; */
    letter-spacing: 0.05em;
    color: #59595c;
    word-spacing: 5px;
    margin: 0;
  }

  .copyright i {
  }
}
