<div class="footer-general">
  <div class="footer-heading">
    <h1>Start earning today</h1>
    <div class="footer-signup-text">
      <a href="#"
        ><button><span>Sign Up Now</span></button></a
      >
    </div>
  </div>
  <div class="footer-list">
    <div class="footer-flex">
      <h2>About Us</h2>
      <h2 class="plus-sign">+</h2>
    </div>
    <div class="footer-flex2">
      <h2>Products</h2>
      <h2 class="plus-sign">+</h2>
    </div>
    <div class="footer-flex2">
      <h2>Service</h2>
      <h2 class="plus-sign">+</h2>
    </div>
    <div class="footer-flex2">
      <h2>Support</h2>
      <h2 class="plus-sign">+</h2>
    </div>
    <div class="footer-flex2">
      <h2>Learn</h2>
      <h2 class="plus-sign">+</h2>
    </div>
  </div>

  <div class="footer-text">
    <h3>Follow us on</h3>
    <div class="social-icons">
      <img src="./images/facebook svg.svg" />
      <img src="./images/instagram svg.svg" />
      <img src="./images/twitter svg.svg" />
    </div>
  </div>
  <hr class="footer-line" />

  <div class="copyright">
    <h3>Purgilswap</h3>
    <i class="fa fa-copyright"></i>
    <h3>2022</h3>
  </div>
</div>
