<div class="live-menu">
  <img src="./images/live chat svg2.svg" onclick="openLiveChat()"/>
</div>

<div class="liveChat-display" style="display: none;">
 

  <div class="liveChat-section">
    <div class="live-section-top-icon">
      <img src="./images/Globe.svg" alt="" />
      <img src="./images/arrow down.svg" alt="" onclick="closeLiveChat()"/>
    </div>

    <div class="liveChat-section-text">
      <h2>Hi Visitor</h2>
      <h3>What can we do for you?</h3>
    </div>

    <div class="liveChat-section-icon">
      <img src="./images/fund svg.svg" alt="" />
    </div>

    <img src="./images/live bg img.svg" alt="" />

    <div class="liveChat-white-bg">
      <div class="liveChat-white-bg2">
        <div class="liveChat-white-text">
          <h2>Issue you may encounter</h2>
          <h3>Unable to log in</h3>

          <hr />
          <h4>How to resolve</h4>
        </div>
      </div>
      <div class="liveChat-blur-bg"></div>
      <div class="liveChat-login">
        <div class="login-notice">
          <img src="./images/login icon.svg" alt="" />
          <h3>
            Log in to save important details in your chat history. This will
            hep us serve you better and enhance your chat experience.
          </h3>
        </div>
        <a href="#"
          ><button><span>Log in(recommended)</span></button></a
        >

        <div class="continue-login">
          <a href="#"
            ><button><span>Continue as visitor</span></button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>